body {
  background-color: white;
}


#home-hr-1 {
  width: 100%;
  margin-top: 2.5%;
}

.logo-header {
  margin-top: 5%;
}

.logo-header-home {
  margin-top: 10%;
}


.about-section {
  margin-top: 5%;
}

.about-text {
  margin-top: 4%;
}

#welcome {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
}

#home-about {
  font-family: 'Quicksand', sans-serif;
  text-indent: 10%;
  font-size: 1.1em;
  line-height: 200%;
}

#home-hr-2 {
  width: 35%;
  margin-top: 6%;
}

#yelp {
  /* margin: auto; */
  /* margin-top: 5%; */
}

.home-info {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 5%;
}

  #phone-number {
    margin-top: 2%;
  }

#hours {
  margin-top: 1%;
}

#home-hr-3 {
  width: 35%;
  margin-top: 4%;
}

.feedback-section {
  margin-top: 9%;
}

#feedback {
  text-align: right;
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  margin-top: 4%;
}

.box {
    border: double;
    border-width: 5px;
    border-spacing: 5%;
    margin-top: 20px;
    margin-bottom: 50px;
  }
/* nav ul li a:hover {
  color: black;
  opacity: 100%;
} */
